$black: #000;
$white: #fff;

$container-bg:#f9f9f9;
$counter-bg: #3498db;
$counter-bg-2: #e74c3c;
$counter-bg-3: #f39c12;
$counter-bg-4: #9b59b6;
$count-grad: linear-gradient(#555,#333 39%, transparent 39%);


